<div class="text-center col-10 offset-1">
  <h1>Some header</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Integer at eros tempor, placerat nulla eu, gravida risus. 
      Proin ac sem vitae sapien sodales ornare. 
      Quisque porta est enim, sed ultrices nulla rhoncus id. 
      Sed nec sem tortor. Etiam lacinia mauris odio, eu egestas velit maximus interdum. 
      Nam congue congue congue. Aenean sagittis sem interdum quam pulvinar semper. 
      Maecenas turpis est, molestie in pharetra ac, accumsan id odio. 
      Vivamus eget venenatis elit, et rutrum purus. 
      Quisque ornare elementum congue. Cras commodo luctus felis finibus mattis. 
      Suspendisse gravida ante est, sit amet posuere ligula tempor id. 
      Sed ultrices arcu vitae ex malesuada sollicitudin.</p>
</div>