@import 'bootstrap';

body {
    background: image_url('morocco');
}

h1 {
    color: #b463fb;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
}

p {
    color: #004b8e;
    text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
    font-weight: 700;
}
